---
import type { Form } from '~/types';
import Button from '~/components/ui/Button.astro';

const { inputs, textarea, disclaimer, button = 'Contact us', description = '' } = Astro.props as Form;

 const apiKey = import.meta.env.PUBLIC_WUFOO_API_KEY;
 const subdomain = import.meta.env.PUBLIC_WUFOO_SUBDOMAIN;
 const identifier =  import.meta.env.PUBLIC_WUFOO_IDENTIFIER;
---

<form id="myForm" action="your_wufoo_form_submission_endpoint" method="post">
  {
    inputs &&
      inputs.map(
        ({ type = 'text', name, id, label = '', autocomplete = 'on', placeholder = '' }) =>
          name && (
            <div class="mb-6">
              {label && (
                <label for={name} class="block text-sm font-medium">
                  {label}
                </label>
              )}
              <input
                 required
                type={type}
                name={name}
                id={name}
                autocomplete={autocomplete}
                placeholder={placeholder}
                class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
              />
            </div>
          )
      )
  }

  {
    textarea && (
      <div>
        <label for="textarea" class="block text-sm font-medium">
          {textarea.label}
        </label>
        <textarea
          required
          id={textarea.id}
          rows={textarea.rows ? textarea.rows : 4}
          placeholder={textarea.placeholder}
          class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
        />
      </div>
    )
  }

  {
    disclaimer && (
      <div class="mt-3 flex items-start">
        <div class="flex mt-0.5">
          <input
            required
            id={disclaimer.id}
            type="checkbox"
            class="cursor-pointer mt-1 py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
          />
        </div>
        <div class="ml-3">
          <label for="disclaimer" class="cursor-pointer select-none text-sm text-gray-600 dark:text-gray-400">
            {disclaimer.label}
          </label>
        </div>
      </div>
    )
  }

  {
    button && (
      <div class="mt-10 grid">
        <Button variant="primary" type="submit">{button}</Button>
      </div>
    )
  }

  {
    description && (
      <div class="mt-3 text-center">
        <p class="text-sm text-gray-600 dark:text-gray-400">{description}</p>
      </div>
    )
  }
        <div class="mt-3 text-center">
        <p id="form-sub-status" class="text-sm text-gray-600 dark:text-gray-400"></p>
      </div>
</form>
 <script type="module" define:vars={{ apiKey, subdomain, identifier}}>

   document.getElementById("myForm").addEventListener("submit", async function (event) {
      event.preventDefault();

      // Replace 'your_wufoo_api_key' with your actual Wufoo API key
      const formElement = event.target;
       const basic = btoa(`${apiKey}:footastic`)
      // Construct the Wufoo API endpoint
      const wufooEndpoint = `https://${subdomain}.wufoo.com/api/v3/forms/${identifier}/entries.json`;
    // Validate the form fields
    if (!validateForm(formElement)) {
      // If validation fails, display error message and return
      return;
    }

      // Gather form data
      const formData = new FormData(formElement);

      // Convert FormData to a plain object
      const formDataObject = {};

    formDataObject['Field3'] = document.getElementById('Field3').value;
    formDataObject['Field4'] = document.getElementById('Field4').value;
    formDataObject['Field5'] = document.getElementById('Field5').value;
      // Make a POST request to Wufoo API using fetch
      try {
        

      const response = await fetch(wufooEndpoint, {
          method: 'POST',
          headers: {
            'Authorization': `Basic ${basic}`,
            'Content-Type': 'application/x-www-form-urlencoded'
          },
                   body: new URLSearchParams(formDataObject)
        });
      if (response.ok) {
        // Clear the form
        formElement.reset();

        // Replace form with a success message
        displaySuccessMessage('Form submitted successfully!');
      } else {
        // Display an error message
        displayErrorMessage('Submission failed. Please try again.');
      }
       
      } catch (error) {
        // Handle errors
        console.error('Error submitting form:', error);
      }

function validateForm(formElement) {
    // Add your validation logic here
    // Example: Check if required fields are not empty

    const requiredFields = formElement.querySelectorAll('[required]');
    let isValid = true;

    requiredFields.forEach((field) => {
      if (!field.value.trim()) {
        // Display red text message
        displayErrorMessage(`Please enter a value for ${field.id}`);
        isValid = false;
      }
    });

    return isValid;
  }

  function displayErrorMessage(message) {
    // Display red text message below or above the form
    const errorMessageElement = document.getElementById('form-sub-status');
    errorMessageElement.style.color = 'red';
    errorMessageElement.textContent = message;
  }

 function displaySuccessMessage(message) {
    // Display success message below or above the form
    const successMessageElement = document.getElementById('form-sub-status');
    successMessageElement.style.color = 'green';
    successMessageElement.textContent = message;
  }

    });

  </script>